.course-info * {
    @apply p-0 leading-tight;
}

.course-info {
    @apply flex flex-col gap-4;
}

.weekly-section {
    background: var(--sketch-paper);
    @apply mb-4 px-4 py-2;
}

.weekly-section:hover {
    background: rgba(255, 255, 255, 0.08);
}

html[data-course-year="2026"] .weekly-section {
    border-radius: 0;
    /* background: #fff; */
}

html[data-course-year="2026"] .weekly-section:hover {
    background: rgba(111, 86, 187, 0.08);
}